*.sock
mysql-data/*
mysql-data/#ib_16384_0.dblwr
mysql-data/binlog.index
mysql-data/ib_buffer_pool
mysql-data/ibdata1
mysql-data/mysql.ibd
mysql-data/undo_001
mysql-data/undo_002
mysql-data/#innodb_temp/temp_1.ibt
mysql-data/#innodb_temp/temp_2.ibt
mysql-data/#innodb_temp/temp_3.ibt
mysql-data/#innodb_temp/temp_4.ibt
mysql-data/#innodb_temp/temp_5.ibt
mysql-data/#innodb_temp/temp_6.ibt
mysql-data/#innodb_temp/temp_7.ibt
mysql-data/#innodb_temp/temp_8.ibt
mysql-data/#innodb_temp/temp_9.ibt
mysql-data/#innodb_temp/temp_10.ibt
mysql-data/SharedSpace/chore_assignment.ibd
mysql-data/SharedSpace/chores.ibd
mysql-data/SharedSpace/flat.ibd
mysql-data/SharedSpace/groceries.ibd
mysql-data/SharedSpace/user.ibd
mysql-data/SharedSpace/users_events.ibd
mysql-data/ibdata1
mysql-data/mysql.ibd
mysql-data/undo_001
mysql-data/undo_002
mysql-data/SharedSpace/flat.ibd
mysql-data/SharedSpace/user.ibd
mysql-data/#ib_16384_0.dblwr
mysql-data/binlog.index
mysql-data/ib_buffer_pool
mysql-data/ibdata1
mysql-data/mysql.ibd
mysql-data/undo_001
mysql-data/undo_002
mysql-data/#innodb_temp/temp_1.ibt
mysql-data/#innodb_temp/temp_2.ibt
mysql-data/#innodb_temp/temp_3.ibt
mysql-data/#innodb_temp/temp_4.ibt
mysql-data/#innodb_temp/temp_5.ibt
mysql-data/#innodb_temp/temp_6.ibt
mysql-data/#innodb_temp/temp_7.ibt
mysql-data/#innodb_temp/temp_8.ibt
mysql-data/#innodb_temp/temp_9.ibt
mysql-data/#innodb_temp/temp_10.ibt
mysql-data/SharedSpace/chore_assignment.ibd
mysql-data/SharedSpace/chores.ibd
mysql-data/SharedSpace/flat.ibd
mysql-data/SharedSpace/groceries.ibd
mysql-data/SharedSpace/user.ibd
mysql-data/SharedSpace/users_events.ibd
