<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/dist/preact.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/hooks/dist/hooks.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@preact/signals-core@1.8.0/dist/signals-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@preact/signals@1.3.0/dist/signals.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/jsx-runtime/dist/jsxRuntime.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/compat/dist/compat.umd.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/@schedule-x/calendar@2.2.0/dist/core.umd.js"></script>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@schedule-x/theme-default@2.2.0/dist/index.css">

    <link rel="stylesheet" href="calendar.css">
    <link rel="stylesheet" href="/nav.css">
</head>

<div class="blur"></div>

<body>
    <%- include('navbar') %>
    <script>
        /* Add Event Button */
        d = document.createElement("button");
        d.setAttribute('class', 'open-btn')
        d.innerText = "+";
        d.style.marginTop = "45px";
        d.onclick = addEventOpenMenu;
        sidebar = document.querySelector(".sidebar-container");
        sidebar.appendChild(d);

        function addEventOpenMenu() {
            document.querySelector("#addevent").style.display = "block";
            document.querySelector("#editevent").style.display = "none";
            document.querySelector(".blur").style.display = "block";
        };

        function addEventCloseMenu() {
            document.querySelector("#addevent").style.display = "none";
            document.querySelector(".blur").style.display = "none";
        };

        /* Edit / Delete Event Button */
        d = document.createElement("button");
        d.setAttribute('class', 'open-btn');
        d.innerText = "✎";
        d.style.marginTop = "90px";
        d.onclick = editEventOpenMenu;
        sidebar = document.querySelector(".sidebar-container");
        sidebar.appendChild(d);

        function editEventOpenMenu() {
            document.querySelector("#editevent").style.display = "block";
            document.querySelector("#addevent").style.display = "none";
            document.querySelector(".blur").style.display = "block";
        };

        function editEventCloseMenu() {
            document.querySelector("#editevent").style.display = "none";
            document.querySelector(".blur").style.display = "none";
        };

    </script>
    
    <main id="calendar">
        <script type="module">
            const { createCalendar, createViewMonthAgenda } = window.SXCalendar;

            const calendar = createCalendar({
                views: [createViewMonthAgenda()],
                events: <%- JSON.stringify(events) %>,
            })
            
            calendar.render(document.getElementById("calendar"));
        </script>
    </main>

    <form id="addevent" action="/calendar/addevent" method="POST">
        <label>Add Event</label>
        <input name="title" type="text" placeholder="Title" required>
        <input name="desc" type="text" placeholder="Description" required>

        <label for="start_time">Start Time</label>
        <input name="start_time" type="datetime-local" required>

        <label for="end_time">End Time</label>
        <input name="end_time" type="datetime-local" required>
        <div class="buttons">
            <button id="cancel" type="button" onclick="addEventCloseMenu()">Cancel</button>
            <button type="submit">Submit</button>
        </div>
    </form>

    <div id="editevent">
        <h3>All Events:</h3>
        <% for (let i = 0; i < events.length; i++){ %>
            <%- include('partials/event', {event: events[i]}) %>
        <% } %>
    </div>
</body>
</html>