<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chores Board</title>
    <link rel="stylesheet" href="/styles/chores.css">
</head>
<body>
    <div class="container">
        <div class="compartment" id="urgent">
            <h2>Urgent</h2>
            <ul id="urgent-list"></ul>
            <input type="text" id="new-urgent" placeholder="Add a new chore">
            <button onclick="addChore('urgent')">Add</button> 
        </div>
        <div class="compartment" id="sort-of-urgent">
            <h2>Not So Urgent</h2>
            <ul id="sort-of-urgent-list"></ul>
            <input type="text" id="new-urgent" placeholder="Add a new chore">
            <button onclick="addChore('urgent')">Add</button> 
        </div>
        <div class="compartment" id="low-urgency">
            <h2>Low Urgency</h2>
            <ul id="low-urgency-list"></ul>
            <input type="text" id="new-urgent" placeholder="Add a new chore">
            <button onclick="addChore('urgent')">Add</button>
        </div>
    </div>
    <script src="scripts/app.js"></script>
</body>
</html>