<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/dist/preact.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/hooks/dist/hooks.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@preact/signals-core@1.8.0/dist/signals-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@preact/signals@1.3.0/dist/signals.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/jsx-runtime/dist/jsxRuntime.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/preact@10.23.2/compat/dist/compat.umd.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/@schedule-x/calendar@2.2.0/dist/core.umd.js"></script>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@schedule-x/theme-default@2.2.0/dist/index.css">

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    
    <div class="sidebar-container">
        <div id="sidebar" class="sidebar">
            <button class="close-btn" onclick="toggleSidebar()">☰</button>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/chores">Chores</a></li>
                <li><a href="/bills">Bills</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/groceries">Groceries</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <button class="open-btn" onclick="toggleSidebar()">☰</button>
    </div>
    
    <script>
        // Sidebar toggle functionality
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("hidden");
        }
    </script>
    
    <main id="calendar">
        <script type="module">
            const { createCalendar, createViewMonthGrid } = window.SXCalendar;
            
            const calendar = createCalendar({
                views: [createViewMonthGrid()],
                events: <%- JSON.stringify(events) %>,
            })
            
            calendar.render(document.getElementById("calendar"));
        </script>
    </main>

    <aside>
        <form action="/home/addevent" method="POST">
            <label>Add Event</label>
            <input name="title" type="text" placeholder="Title">
            <input name="desc" type="text" placeholder="Description">

            <label for="start_time">Start Time</label>
            <input name="start_time" type="datetime-local">

            <label for="end_time">End Time</label>
            <input name="end_time" type="datetime-local">

            <button type="submit">Submit</button>
        </form>
    </aside>

    <footer>
    </footer>
</body>
</html>