* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 45%;
    height: 100%;
    border: 1px solid #ccc;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    right: 0;
}

.checklist-container {
    max-height: 50%; 
    overflow-y: auto;
}

#item {
    width: 50%;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.row-checkbox {
    vertical-align: middle;
}

h3 {
    position: absolute;
    bottom: 240px;
    right: 60px;
}

p {
    position: absolute;
    bottom: 220px;
    right: 60px;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: border 0.3s;
    margin-bottom: 1rem;
}

button {
    background: #fa00a7;
    height: 40px;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background 0.3s;
    margin: 0 0.3rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
}

button:hover {
    background: rgb(188, 65, 212);
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#itemInput {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
}

.price-quantity-row {
    display: flex;
    gap: 10px;
}

.price-quantity-row input {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
}

.add-form button {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: -15px;
    margin-bottom: 10px;
}

.buttons-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}

.buttons-bottom form {
    flex: 1;
    max-width: 150px;
}

.buttons-bottom button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 0.8rem;
    margin-top: -10px;
}