body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2.5rem;
  color: #2c3e50;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 700px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}


.dashboard-section {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.dashboard-section h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 0.5rem;
  color: #34495e;
}

.dashboard-section ul {
  list-style: none;
  padding-left: 0;
}

.dashboard-section li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
}

.dashboard-section li:last-child {
  border-bottom: none;
}

strong {
  color: #2c3e50;
}

.overdue-label {
  color: red;
  font-weight: bold;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.dashboard-header h2 {
  font-size: 1.4rem;
  margin: 0;
  color: #34495e;
}

.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-decoration: none;
  transition: background-color 0.2s;
  flex-shrink: 0;
}

.arrow-icon svg {
  width: 40px;
  height: 30px;
}

.arrow-icon:hover {
  background-color: #0056b3;
}

.grocery-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grocery-item .item-name {
  font-weight: bold;
  flex-grow: 1;
  text-align: left;
}

.grocery-item .item-details {
  font-size: 0.9rem;
  color: #666;
  margin-left: 10px;
  white-space: nowrap;
}

.checked {
  text-decoration: line-through;
  color: #999;
}

.group-code {
  font-size: 1.2rem;
  color: #696969;
  background-color: #f0f0f0;
  padding: 6px 12px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 8px;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
